In [1]:
print("Hi")

Hi

### Differnt modes of executaion:
- > Interaction cmd python >>> quit()
- > Scripting .py dir python filename.py
- > IDE jupyter ctrl + enter

### Datatypes :
- > int 10 15 20 555555 immutable not iterable 
- > float 10.2555 45.222 immutable not iterable  
- > str '' "" """ """ immutable iterable 
- > list [10,20,25.555,"Python",[100,200,300]] mutable => add update and delete iterable  
- > tuple (10,20,30,"Python") immutable  iterable 
- > dict {'name':'abc','email':'abc@gmail.com'} mutable iterable 
- > set {10,20,30,40,"Python"} mutable itrable 
- > bool True False immutable not iterable

In [2]:
num1 = 100
print(type(num1))

<class 'int'>

In [3]:
num1 = "Python"
print(type(num1))

<class 'str'>

In [12]:
num1 = 300
print(num1)

num1 = 500
print(num1)

num2 = 500
print(num2)
print(id(num1),id(num2))

300
500
500
1615578277168 1615578277008

In [ ]:
num1     num2
500      500
1001     1005

In [ ]:
500 num1,num2

In [13]:
num1 = 10
print(id(num1))

num1 = "Python"
print(id(num1))

1840147808
1615538557928

In [16]:
l = [10,20,30]
print(l,id(l))
l.append(40)
print(l,id(l))

[10, 20, 30] 1615579070280
[10, 20, 30, 40] 1615579070280

In [17]:
num1 = 100
print(id(num1))

num1 = 102
print(id(num1))

1840150688
1840150752

In [18]:
num1 = num2 = 100
print(num1,num2)

100 100

In [19]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [20]:
num1,num2 = num2,num1
print(num1,num2)

200 100

### Operators

1 Arithmetic +,-,*,/,//-floor,%,**
2 Comparison operators ==,!=,<,>,<=,>= True False 
3 Identity operators is is not
4 Membership operators in not in
5 logical operators and or not 
6 Assignment operators =,+=,-=,/=,*=,//=,**=

In [25]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(25 ** 0.5)

3.3333333333333335
3
1
5.0

In [28]:
num1 = 100
num2 = 120
print(num1 < num2)

True

In [30]:
s1 = "Python"
s2 = "Python"
print(s1 == s2)

True

In [37]:
num1 = 100
num2 = 100
print(id(num1),id(num2))
print(num1 == num2)
print(num1 is num2)

l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))
print(l1 == l2)
print(l1 is not  l2)

1840150688 1840150688
True
True
1615577893768 1615577798216
True
True

In [38]:
l = [10,20,30,40,50]
print(50 in l)

True

In [40]:
print('P' in "Python")

True

In [43]:
d ={1:1,2:4,3:9,4:16}
print(9 not in d)

True

In [44]:
print(8==8 and 8 !=9)

True

In [47]:
num1 = 200
num1 = num1 + 5
print(num1)
num1*=5
print(num1)

205
1025

### Conditional Statements

In [ ]:
if [condition]:
    satements
elif [condition]:
    statments 
else:
    statements

In [59]:
num1 = 500
num2 = 400

if num1 > num2:
    print("num1 is greater")
    print("Just another staatemnts ")
    if num1 > 100:
        print(">100")
    else:
        print("<100")
elif num2 > num1:
    print("num2 is greater ")
else:
    print("both are equal")

num1 is greater
Just another staatemnts
>100

In [ ]:
PEP 8

In [61]:
chr = 'a'
if chr in 'aeiou':
    print('vowel')
else:
    print("consonent")

vowel

In [67]:
if None:
    print("Python")
else:
    print("Java")

Java

### Loops :
    1. for 
    2. while

In [ ]:
for [userdefined variable] in [itearble datatype]:
    statments

In [71]:
l = [10,20,30,40,50]
sum = 0
for value in range(1,101):
    sum = sum+value
print(sum)

5050

In [ ]:
range(10) 0,1,2..... 9 
range(10,50) 10 ,11... 49 
range(10,50,5) 10 15 20 25 .... 45

In [2]:
print(ord('a'),ord('z'))
print(chr(97),chr(122))

97 122
a z

In [4]:
start = ord('a')
end = ord('z')
for value in range(start,end):
    print(chr(value))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y

In [4]:
num1 = 28
sum = 0
for value in range(1,num1):    
    if num1 % value == 0:
        sum = sum + value

if sum == num1:
    print("perfect no")
else:
    print("not a  perfect no")

perfect no

In [22]:
l = [10,20,30,40,50,60,70]
key = 50

for index,value in enumerate(l):
#     print(value)
    if value == key:
        print("element present",index)
        break 
else:
    print("element not present")

element present 4

In [20]:
l = [10,20,30,40]
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40

In [23]:
for value1 in range(1,5):
    for val2 in range(100,103):
        print(value1,val2)

1 100
1 101
1 102
2 100
2 101
2 102
3 100
3 101
3 102
4 100
4 101
4 102

In [ ]:
1   2 3  4 5 
2   4
3   6
4   8
5   10 
6
7
8
9
10

In [27]:
print(10,20,30,sep=",",end=" ")
print("Hi")

10,20,30 Hi

In [31]:
for val1 in range(1,11):
    print("\n")
    for val2 in range(1,6):
        print(val1 * val2,end="\t")

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

6	12	18	24	30

7	14	21	28	35

8	16	24	32	40

9	18	27	36	45

10	20	30	40	50

In [32]:
s = "Python sample string"
for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [ ]:
initialization
while [condition]:
    statements
    increment 
else:

In [33]:
count = 1
sum = 0
while(count <= 20 ):
    sum = sum + count
    count+=1
print(sum)

210

In [37]:
l = [80,70,60,50,40,30,20,10]
count = 0
while(count < len(l)):
    for index in range(len(l)-1):
        if l[index] > l[index +1]:
            l[index],l[index+1] = l[index+1],l[index]
    count+=1
print(l)

[10, 20, 30, 40, 50, 60, 70, 80]

In [41]:
l = [10,20,30]
print(l[3])

IndexError: list index out of range