In [ ]:
str => immutable 
list =>mutable 
tuple =>

In [ ]:
Tuple : 
    t =(10,20,30,"Python")
    immutbale => no methods to add update and delete 
    ordered => indexing and slicing

In [2]:
t = (10,20,30)
print(type(t))

<class 'tuple'>

In [ ]:
num1,num2 = 100,200

In [3]:
num1 = 100,200 
print(num1)

(100, 200)

In [7]:
l = [10,20,30,40,50]
for t in enumerate(l):
    print(t[0],t[1])

0 10
1 20
2 30
3 40
4 50

In [9]:
num1,num2 = (100,200,300)
print(num1)
print(num2)

ValueError: too many values to unpack (expected 2)

In [16]:
t = (10,20,30,40,50)
print(t[-1])
print(t[::-1])

50
(50, 40, 30, 20, 10)

In [17]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [19]:
t = (10,20,20,20,30,40)
print(t.count(20))
print(t.index(20))

3
1

In [ ]:
Dict : 
    {key:value,key2:value}
    mutable => add upadte and delete the key value pairs 
    all keys should be unique 
    data type of keys should be immutable => int,float,str,tuple

In [5]:
d = {'name':"abc",'email':"abc@gmail.com",'sal':"60222",'name':"pqr"}
print(d)

{'name': 'pqr', 'email': 'abc@gmail.com', 'sal': '60222'}

In [ ]:
hash table 

hash(key) = > hash index 

hash index key value 
4 sal       52000
5 name      abc

O(1)

In [2]:
print(d['name'])
print(d.get('age',"Key not present"))
print(d.setdefault('age',35))
print(d)

abc
Key not present
35
{'name': 'abc', 'email': 'abc@gmail.com', 'sal': '60222', 'age': 35}

In [3]:
d['contact'] = 987654321
print(d)

d['contact'] = 8888888888
print(d)

{'name': 'abc', 'email': 'abc@gmail.com', 'sal': '60222', 'contact': 987654321}
{'name': 'abc', 'email': 'abc@gmail.com', 'sal': '60222', 'contact': 8888888888}

In [7]:
print(ord('a'))
print(chr(97))

97
a

In [8]:
d1 = {}
for value in range(97,123):
    d1.setdefault(chr(value),value)
print(d1)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [10]:
d2 = {}

for key in range(1,10):
    d2[key] = key * key
    
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [17]:
for key,value in d2.items():
    print(key,value)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [14]:
print(d2.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
print(d2.values())

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81])

In [16]:
print(d2.items())

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)])

In [ ]:
d3 = {(1,10):0,(11,20):0,(21,30):0......(91,100):0}
l = [50,45,23,11,90,22,55]

In [18]:
l = [1,2,3,4,5]
l2 = [10,20,30,40,50]
print(list(zip(l,l2)))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [20]:
print(list(range(10,100)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
d3 ={}
for key in zip(range(1,92,10),range(10,101,10)):    
    d3.setdefault(key,0)
print(d3)

l = [50,45,23,11,90,22,55]
# num1 = 45
for num1 in l:
    for key,value in d3.items():
        if num1 >= key[0] and num1 <= key[1]:
            d3[key] +=1
        
print(d3)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}
{(1, 10): 0, (11, 20): 1, (21, 30): 2, (31, 40): 0, (41, 50): 2, (51, 60): 1, (61, 70): 0, (71, 80): 0, (81, 90): 1, (91, 100): 0}

In [8]:
s = "abcdabbbcddddeeewwzzzzzz"
d = {}
max_char =''
max_count = 0
for key in s:
    if d.get(key):
        if max_count < d.get(key):
            max_count = d.get(key)
            max_char = key
        
    else:
        d.setdefault(key,s.count(key))
        
        
print(max_char,max_count)

z 6

In [ ]:
delete :
    popitem 
    pop
    clear 
    del

In [6]:
print(d3)
r = d3.popitem()
print(d3,r)

# r = d3.pop((1,10))
# print(d3,r)

# d3.clear()
# print(d3)

# del  d3
# print(d3)

{(1, 10): 0, (11, 20): 1, (21, 30): 2, (31, 40): 0, (41, 50): 2, (51, 60): 1, (61, 70): 0, (71, 80): 0, (81, 90): 1}
{(1, 10): 0, (11, 20): 1, (21, 30): 2, (31, 40): 0, (41, 50): 2, (51, 60): 1, (61, 70): 0, (71, 80): 0} ((81, 90), 1)

In [13]:
l1 = [10,20,30,40]
l2 = [1,2,3]
d4 = dict(zip(l1,l2))
print(d4)

{10: 1, 20: 2, 30: 3}

In [16]:
l =[10,20,30,40]
d5 = dict.fromkeys(l,0)
print(d5)

{10: 0, 20: 0, 30: 0, 40: 0}

In [19]:
d6 = {1:1,2:4,3:9}
d7 = {3:16,5:25} 

d6.update(d7)
print(d6)

{1: 1, 2: 4, 3: 16, 5: 25}

In [ ]:
dict :
    d.setdefault(key,value)
    d[key] = value 
    
    update :
        d[key] = new value 
        d.upadte(d3)
        
    delete :
        popitem 
        pop 
        clear
        del

In [ ]:
Sets :

In [ ]:
A = {10,20,30,40,50}
B = {30,40,50,60,70}

A union B = {10,20,30,40,50,60,70}

A intersection B ={30,40,50}


A differebce B = {10,20}
B diff A = {60,70}

A symm diff b = {10,20,60,70}

C = {10,20}

C is subset of A 
A is superset C

In [ ]:
s = {10,20,30,40,50,60}

In [ ]:
Sets :
    dict with None value
    all elements should be unique 
    all elemnets should be immutable 
    unordered => indexing and slicing 
    mutable  => add update and delete

In [20]:
s = {10,20,30,10,10,20,30,40,50,60}
print(s)

{40, 10, 50, 20, 60, 30}

In [22]:
s = set()
print(type(s))

<class 'set'>

In [32]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

In [25]:
# s3 = s1.union(s2)
# print(s3)

s1.update(s2)
print(s1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [28]:
# s3 = s1.intersection(s2)
# print(s3)

s1.intersection_update(s2)
print(s1)

{40, 50, 60}

In [31]:
# s3 = s1.symmetric_difference(s2)
# print(s3)
s1.symmetric_difference_update(s2)
print(s1)

{70, 10, 80, 20, 90, 30}

In [34]:
s3 = {10,20}
print(s3.issubset(s1))
print(s1.issuperset(s3))

True
True

In [37]:
l1 = [10,10,20,25,60,45,10,10,20,30]
l2 = [45,85,65,41,10,20,30,10,50]
# s = set(l1)
# l1.sort()
l3 = l1 + l2
print(l3)
s = set(l3)
print(s)
l4 = sorted(s)
print(l4)

[10, 10, 20, 25, 60, 45, 10, 10, 20, 30, 45, 85, 65, 41, 10, 20, 30, 10, 50]
{65, 41, 10, 45, 50, 20, 85, 25, 60, 30}
[10, 20, 25, 30, 41, 45, 50, 60, 65, 85]

In [ ]:
delete :
    pop
    remove 
    discard 
    del 
    clear

In [46]:
s = {10,20,30,40,50}
print(s)
# r = s.pop()
# print(s,r)
# s.remove(400)
# print(s)
# s.discard(400)
# print(s)
# s.clear()
# print(s)
# del s
# print(s)

{40, 10, 50, 20, 30}
set()

NameError: name 's' is not defined

In [ ]:
List :
    add :
        append "Python" 
        extend "Python" => 
        insert 2,"Python"
        
    Update :
        l[0] = value
        
    delete :
        clear 
        del 
        remove => value
        pop => index 
        
        
Str :
    
    format {} {}.format(num.num2)
    split 
    join 
    
    count 
    index =>error
    rindex 
    find => -1
    rfind
    replace 
    
    strip 
    lstrip 
    rstrip 
    
    center 
    ljust 
    rjust 
    
    upper isupper 
    lower islowe
    title 
    
    
    ialpha 
    isdigit 
    isalnum
    isspace

In [47]:
l = [10,20,30,40,50]
l.pop(2)
print(l)

[10, 20, 30, 40]

In [51]:
l1 = [10,20,30]
l2 = l1.copy()
print(id(l1),id(l2))

3141787157000 3141787050952

In [ ]:
dict :
    add :
        setdefault 
        d[key] 
        
    update 
        d[key] = value 
        
    del :
        popitem 
        pop 
        clear 
        del 
        
        
    Set :
        union 
        intesection diff 
        symm diff
        
        update 
        intersection_update 
        diff_update 
        syy_update 
        
        
    del :
        remove 
        discard 
        pop
        clear 
        del